<ul id="feed-{{ feed.id }}-items" hx-swap-oob="beforeend">
{% for item in items %}
<li class="item extra-item">
    <a href="{{ item.link }}" target="_blank" rel="noopener" class="item-link">
        {{ item.title }}
    </a>
    {% if let Some(discussion) = item.discussion_link %}
    <a href="{{ discussion }}" target="_blank" rel="noopener" class="discussion-link" title="Discussion">
        <svg viewBox="0 0 24 24" width="14" height="14" fill="currentColor">
            <path d="M21 6h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1zm-4 6V3c0-.55-.45-1-1-1H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1z"/>
        </svg>
    </a>
    {% endif %}
</li>
{% endfor %}
</ul>

<button
    class="load-more-btn"
    data-feed-id="{{ feed.id }}"
    data-expanded="true"
    onclick="toggleItems(this)"
>
    Show Less
</button>
